# Ignore Python cache directories
__pycache__/
*.pyc

# Ignore Java cache directories
*.class

# Ignore Maven cache directories
target/

# Ignore Gradle cache directories
.gradle/
build/
